@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.MeasureTerms.CreateModel

@{
    Layout = "_Create";
}
    <body>
    @Html.EditControlsForDropDown(x => x.Item.MasterId, Model.Measures)
    @Html.EditControlsForDropDown(x => x.Item.TermId, Model.Measures)
    @Html.EditControlsFor(x => x.Item.Power)
    @Html.EditControlsFor(x => x.Item.ValidFrom)
    @Html.EditControlsFor(x => x.Item.ValidTo)

</body> 